<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>error</title>
</head>
<body>

	<div class="jumbotron container pt-2 mt-4" style="text-align: center;">
		<h1 class="display-4">Error! Ocuurred..!!</h1>
		<p class="lead">You don't have permission to access this page or some error occurred.</p>
		<hr class="my-4">
		<p class="lead">
			<a class="btn btn-primary btn-lg" aria-current="page" th:href="@{/}">
				Go back to home</a>

		</p>
	</div>
</body>
</html>