<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmls:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<!-- Start - create navigation bar  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Home</a>

			<div class="d-flex">
				<a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
			</div>
		</div>
		</div>
	</nav>
	<!-- End - create navigation bar  -->
	<div class="container" style="align-content: center;">
	<u><h1>Teacher Panel</h1></u>
	<h4>
		Welcome <span sec:authentication="principal.username">..!!!</span>
	</h4>
</div>
</body>
</html>